
<%= link_to "Library Index", "/libraries" %>
<%= link_to "Book Index", "/books" %>
<h1><%= @library.name %></h1>
<% @books.each do |book| %>
  <h2><%= book.name %></h2>
  <p>Pages: <%= book.pages %></p>
  <p>Checked Out: <%= book.checked_out %></p>
<% end %>
